
.chat-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: #333;
}

.chat-app {
  border: solid;
  width: 100%;
  align-items: flex-end;
  background-color: #333;
  color: white;

}

.messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  width: 60%;
  height: 10%;
  color: rgb(255, 255, 255);
  background-color: #333;
}

/* Message bubble styling */
.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid;
}

.message-header .username {
  font-weight: bold;
  color: white;
}

.other-message,
.my-message {
  background-color: #333;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #767676;
}

.my-message {
  text-align: right;
}

.other-message {
  text-align: left;
}

/* Form to send new messages */
.message-form {
  display: flex;
  border: none;
  padding: 10px;
  width: 60%;
  background-color: #333;
}

.message-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ff00fb;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #333;
  color: white;

}

.message-form button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: 1px solid #ff00fb;;
  border-radius: 5px;
  cursor: pointer;
}

.message-form button:hover {
  opacity: 0.9;
  background-color: #ff00fb;
}

.message-form button:active {
  opacity: 0.7;
  background-color: #ff00fb;
}

#delete-Btn {
  border: none;
  background-color: #e0e0e0;
  cursor: pointer;
}

.msgText {
  color: rgb(255, 255, 255);
}
