
.chat-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  color: black;
}

.chat-app {
  border: solid;
  width: 100%;
  align-items: flex-end;
}

.messages {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  width: 60%;
  height: 10%;
  color: black;
}

/* Message bubble styling */
.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message-header .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-header .username {
  font-weight: bold;
  color: #000000;
}

.other-message,
.my-message {
  background-color: #f1f1f1;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: black;
}

.my-message {
  text-align: right;
  background: #e0e0e0;
  color: black;
}

.other-message {
  text-align: left;
  background: #f0f0f0;
  color: black;
}

/* Form to send new messages */
.message-form {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  width: 60%;
  background-color: white;
}

.message-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin-right: 10px;
}

.message-form button {
  padding: 10px 20px;
  background-color: #135316;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-form button:hover {
  opacity: 0.9;
}

.message-form button:active {
  opacity: 0.7;
}

/* Styling för raderaknappen */
.delete-button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 12px;
}

.delete-button:hover {
  background: #e60000;
}

.delete-button:active {
  background: #cc0000;
}
