

.login-container,
.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 20%;  
    margin: 0 auto; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 10px 20px #0000004c;
    border-color: black;
}

.auth-container {
    display: flex;
    align-items: center;
    font-size: 16px;
    
  }
  
  h2 {
    color: black;
    margin-bottom: 0;
    text-align: center;
    font-size: 25px;
    margin-top: 142px;
  }

  .login-container label,
  .register-container label {
    margin-bottom: 5px;
    display: flex;
    margin-left: 10px;
    color: black;
  }

  .login-container input,
  .register-container input {
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 40px; 
    padding-right: 40px;
    width: 100%;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    border-color: black;
  }
  
  #login-btn,
  #register-btn {
    margin-bottom: 15px;
    padding: 10px; 
    width: 100%;
    margin-left: 10px;
    margin-bottom: 0;
    background-color: #135316;
    color: #fff;
    border: none;
    border-radius: 10px; 
    cursor: pointer; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-left: 10px;
  }
  
  #login-btn:hover,
  #register-btn:hover {
    opacity: 0.9;
  }

  #login-btn:active, 
  #register-btn:active {
    opacity: 0.7;
  }

  .error-message {
    color: red;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    font-size: 12px;
  }

  #errorEmoji {
    margin-right: 5px;
  }

  .redirect-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .redirect-content p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
    color: black;
    
  }

  #redirectBtn {
    font-size: 12px;
    border: none;
    color: rgb(0, 4, 255);
  }

  #redirectBtn:hover {
    opacity: 0.8;
    color: red;
  }

  #redirectBtn:active {
    opacity: 0.6;
    color: red;
  }

  .backToMain {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  #backToMainBtn {
    border: none;
    background-color: #006e0400;
    margin-top: 140px;
    margin-bottom: 5px;
  }

  #backToMainBtn:hover {
    opacity: 0.8;
  }
  #backToMainBtn:active {
    opacity: 0.6;

  }

  .success-message {
    font-size: 13px;
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
  }