
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding: 50px;
  width: 50%;  
  margin: 0 auto; 
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 10px 10px 20px #0000004c;
  border-color: black;
  margin-top: 170px;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  }
  
  .header-container {
    font-size: 20px;
    color: black;
  }
  
  #mainBtn {
    margin: 10px;
    padding: 15px;
    width: 170%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #135316;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #0000004c;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #mainBtn:hover {
    opacity: 0.9;
  }
  #mainBtn:active {
    opacity: 0.7;
  }