/* SideNav.css */
.side-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #342641;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.side-nav.open {
    left: 0;
    
  }
  
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
.logout-btn {
    padding: 10px 15px;
    text-align: center;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
  }
  
.profile-btn {
    background-color: #342641;
    color: white;
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  
.profile-btn:hover,
.logout-btn:hover,¨
.close-btn:hover {
    opacity: 0.9;
  }

  .profile-btn:active,
  .logout-btn:active,
  .close-btn:active {
    opacity: 0.7;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
  }
  
  .side-nav .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .username-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 10px;
  }
 
  .side-nav p {
    margin: 10px;
    color: white;
  }
  
  