
html, 
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 0;
  margin-left: 0;
  background-color: #333;
}

#chatEmoji {
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
}

.error {
  color: red;
}

.messages {
  max-height: 400px;
  overflow-y: scroll;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
